<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>PPC Direct Debit Debtors - Error</title>

<link
	href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII="
	rel="icon" type="image/x-icon" />

<link th:href="@{/css/govuk_css/govuk-template.css?0.12.0}" media="screen"
	rel="stylesheet" type="text/css" />
<link th:href="@{/css/nhs_fonts.css}" media="all" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/nhs_application.css}" media="screen"
	rel="stylesheet" type="text/css" />

</head>
<body>

	<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

	<div th:replace="includes/header :: header"></div>

	<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="indextext">
				<div class="error-panel">
					<h2 id="error-mess" class="heading-large">Oops! Something went wrong!</h2>
					<h3 class="heading-medium">Press the back button to return to the form</h3>
				</div>
				<p>If the problem continues, contact the help desk</p>
			</div>
		</div>
		<div class="column-third">
			<h3 class="heading-medium" style="margin-top: 10px;">Search</h3>
			<span>
				<form th:action="@{/search}" method="POST"
					th:object="${workitem}">
					<label for="reference">Certificate number:</label> <input
						type="number" name="reference" required="required" autofocus="autofocus"/>
					<div class="subbut">
						<button id="submit" name="submit" class="button">Submit</button>
					</div>
				</form>
			</span>
		</div>
	</div>
	</main>

	<div th:replace="includes/footer :: footer"></div>
</body>
</html>